Spark homework

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

Start Spark session

In [2]:
spark = SparkSession.builder \
    .master('local') \
    .appName('Spark-Homework') \
    .getOrCreate()
spark

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/08/25 13:42:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Task 1 
```
Upload generated train.parquet , destinations.csv, struct_cities.json files from previous module Homework to Jupyter workspace. Create dataframes  and tempViews upon the files.
```

In [3]:
HDFS_HOST = '172.17.0.3'
WAREHOUSE_PATH = '/user/hive/warehouse'


paths =  {'destinations' : 'hdfs://172.17.0.2/user/hive/warehouse/destinations/destinations.csv',
        'struct_cities': 'hdfs://172.17.0.2/user/hive/warehouse/struct_cities/struct_cities.json',
        'train': 'hdfs://172.17.0.2/user/hive/warehouse/staging/train.parquet/'}

## Read parquet file

In [4]:
train_df = spark.read.parquet(f'hdfs://{HDFS_HOST}/{WAREHOUSE_PATH}/staging/train.parquet',
                        header = 'true',
                        inferSchema = True
                                )
train_df.printSchema()

root
 |-- date_time: string (nullable = true)
 |-- site_name: integer (nullable = true)
 |-- posa_continent: integer (nullable = true)
 |-- user_location_country: integer (nullable = true)
 |-- user_location_region: integer (nullable = true)
 |-- user_location_city: integer (nullable = true)
 |-- orig_destination_distance: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- is_mobile: integer (nullable = true)
 |-- is_package: integer (nullable = true)
 |-- channel: integer (nullable = true)
 |-- srch_ci: string (nullable = true)
 |-- srch_co: string (nullable = true)
 |-- srch_adults_cnt: integer (nullable = true)
 |-- srch_children_cnt: integer (nullable = true)
 |-- srch_rm_cnt: integer (nullable = true)
 |-- srch_destination_id: integer (nullable = true)
 |-- srch_destination_type_id: integer (nullable = true)
 |-- is_booking: integer (nullable = true)
 |-- cnt: integer (nullable = true)
 |-- hotel_continent: integer (nullable = true)
 |-- hotel_country: integer (nullable = true)
 |-- hotel_market: integer (nullable = true)
 |-- hotel_cluster: integer (nullable = true)

## Read json

In [5]:
struct_cities_df = spark.read.json(f'hdfs://{HDFS_HOST}/{WAREHOUSE_PATH}/struct_cities/struct_cities.json')
struct_cities_df.printSchema()

In [6]:
struct_cities_df.show(3, truncate = False, vertical = True)

-RECORD 0----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 cities       | [{FALSE, FALSE, FALSE, Santa Cruz BalanyГЎ, 0, America/Guatemala}, {FALSE, TRUE, TRUE, San Pedro SacatepГ©quez, 0, America/Guatemala}]
 country_code | 0
-RECORD 1----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 cities       | [{FALSE, FALSE, TRUE, AtyrГЎ, 1, America/Asuncion}, {FALSE, FALSE, FALSE, Antequera, 1, America/Asuncion}]
 country_code | 1
-RECORD 2----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 cities       | [{FALSE, FALSE, TRUE, Limassol, 100, Asia/Nicosia}, {FALSE, FALSE, FALSE, Mammari, 100, Asia/Nicosia}, {FALSE, FALSE, TRUE, MosfilotГ-xad, 100, Asia/Nicosia}]
 country_code | 100
only showing top 3 rows

## Read csv

In [11]:
destinations_df = spark.read.csv(f'hdfs://{HDFS_HOST}/{WAREHOUSE_PATH}/destinations/destinations.csv',
                        header = 'true',
                        inferSchema = True
                                )
destinations_df.printSchema()

root
 |-- srch_destination_id: integer (nullable = true)
 |-- d1: double (nullable = true)
 |-- d2: double (nullable = true)
 |-- d3: double (nullable = true)
 |-- d4: double (nullable = true)
 |-- d5: double (nullable = true)
 |-- d6: double (nullable = true)
 |-- d7: double (nullable = true)
 |-- d8: double (nullable = true)
 |-- d9: double (nullable = true)
 |-- d10: double (nullable = true)
 |-- d11: double (nullable = true)
 |-- d12: double (nullable = true)
 |-- d13: double (nullable = true)
 |-- d14: double (nullable = true)
 |-- d15: double (nullable = true)
 |-- d16: double (nullable = true)
 |-- d17: double (nullable = true)
 |-- d18: double (nullable = true)
 |-- d19: double (nullable = true)
 |-- d20: double (nullable = true)
 |-- d21: double (nullable = true)
 |-- d22: double (nullable = true)
 |-- d23: double (nullable = true)
 |-- d24: double (nullable = true)
 |-- d25: double (nullable = true)
 |-- d26: double (nullable = true)
 |-- d27: double (nullable = true)
 |-- d28: double (nullable = true)
 |-- d29: double (nullable = true)
 |-- d30: double (nullable = true)
 |-- d31: double (nullable = true)
 |-- d32: double (nullable = true)
 |-- d33: double (nullable = true)
 |-- d34: double (nullable = true)
 |-- d35: double (nullable = true)
 |-- d36: double (nullable = true)
 |-- d37: double (nullable = true)
 |-- d38: double (nullable = true)
 |-- d39: double (nullable = true)
 |-- d40: double (nullable = true)
 |-- d41: double (nullable = true)
 |-- d42: double (nullable = true)
 |-- d43: double (nullable = true)
 |-- d44: double (nullable = true)
 |-- d45: double (nullable = true)
 |-- d46: double (nullable = true)
 |-- d47: double (nullable = true)
 |-- d48: double (nullable = true)
 |-- d49: double (nullable = true)
 |-- d50: double (nullable = true)
 |-- d51: double (nullable = true)
 |-- d52: double (nullable = true)
 |-- d53: double (nullable = true)
 |-- d54: double (nullable = true)
 |-- d55: double (nullable = true)
 |-- d56: double (nullable = true)
 |-- d57: double (nullable = true)
 |-- d58: double (nullable = true)
 |-- d59: double (nullable = true)
 |-- d60: double (nullable = true)
 |-- d61: double (nullable = true)
 |-- d62: double (nullable = true)
 |-- d63: double (nullable = true)
 |-- d64: double (nullable = true)
 |-- d65: double (nullable = true)
 |-- d66: double (nullable = true)
 |-- d67: double (nullable = true)
 |-- d68: double (nullable = true)
 |-- d69: double (nullable = true)
 |-- d70: double (nullable = true)
 |-- d71: double (nullable = true)
 |-- d72: double (nullable = true)
 |-- d73: double (nullable = true)
 |-- d74: double (nullable = true)
 |-- d75: double (nullable = true)
 |-- d76: double (nullable = true)
 |-- d77: double (nullable = true)
 |-- d78: double (nullable = true)
 |-- d79: double (nullable = true)
 |-- d80: double (nullable = true)
 |-- d81: double (nullable = true)
 |-- d82: double (nullable = true)
 |-- d83: double (nullable = true)
 |-- d84: double (nullable = true)
 |-- d85: double (nullable = true)
 |-- d86: double (nullable = true)
 |-- d87: double (nullable = true)
 |-- d88: double (nullable = true)
 |-- d89: double (nullable = true)
 |-- d90: double (nullable = true)
 |-- d91: double (nullable = true)
 |-- d92: double (nullable = true)
 |-- d93: double (nullable = true)
 |-- d94: double (nullable = true)
 |-- d95: double (nullable = true)
 |-- d96: double (nullable = true)
 |-- d97: double (nullable = true)
 |-- d98: double (nullable = true)
 |-- d99: double (nullable = true)
 |-- d100: double (nullable = true)
 |-- d101: double (nullable = true)
 |-- d102: double (nullable = true)
 |-- d103: double (nullable = true)
 |-- d104: double (nullable = true)
 |-- d105: double (nullable = true)
 |-- d106: double (nullable = true)
 |-- d107: double (nullable = true)
 |-- d108: double (nullable = true)
 |-- d109: double (nullable = true)
 |-- d110: double (nullable = true)
 |-- d111: double (nullable = true)
 |-- d112: double (nullable = true)
 |-- d113: double (nullable = true)
 |-- d114: double (nullable = true)
 |-- d115: double (nullable = true)
 |-- d116: double (nullable = true)
 |-- d117: double (nullable = true)
 |-- d118: double (nullable = true)
 |-- d119: double (nullable = true)
 |-- d120: double (nullable = true)
 |-- d121: double (nullable = true)
 |-- d122: double (nullable = true)
 |-- d123: double (nullable = true)
 |-- d124: double (nullable = true)
 |-- d125: double (nullable = true)
 |-- d126: double (nullable = true)
 |-- d127: double (nullable = true)
 |-- d128: double (nullable = true)
 |-- d129: double (nullable = true)
 |-- d130: double (nullable = true)
 |-- d131: double (nullable = true)
 |-- d132: double (nullable = true)
 |-- d133: double (nullable = true)
 |-- d134: double (nullable = true)
 |-- d135: double (nullable = true)
 |-- d136: double (nullable = true)
 |-- d137: double (nullable = true)
 |-- d138: double (nullable = true)
 |-- d139: double (nullable = true)
 |-- d140: double (nullable = true)
 |-- d141: double (nullable = true)
 |-- d142: double (nullable = true)
 |-- d143: double (nullable = true)
 |-- d144: double (nullable = true)
 |-- d145: double (nullable = true)
 |-- d146: double (nullable = true)
 |-- d147: double (nullable = true)
 |-- d148: double (nullable = true)
 |-- d149: double (nullable = true)

## Create temp Views

In [14]:
train_df.createOrReplaceTempView('train')
struct_cities_df.createOrReplaceTempView('struct_cities')
destinations_df.createOrReplaceTempView('destinations')

## Task 2
```
Please complete the following tasks in 2 ways: 
•	using dataframe tansformations 
•	using temporary views and SQL
2.1 Find top 3 most popular hotels between couples. (treat hotel as composite key of continent, country and market). Save results in dataframe and write to task2_1.csv file. 
2.2  Find the most popular country where hotels are booked and searched from the same country. Save results in dataframe and write to task2_2.parquet file with overwrite mode.  
2.3  Find top 3 hotels where people with children are interested but not booked in the end.  Save as tempView.

```

In [34]:
# Functions for processing
from pyspark.sql import functions as F

### 2.1 Find top 3 most popular hotels between couples. (treat hotel as composite key of continent, country and market). Save results in dataframe and write to task2_1.csv file.

#### Using SQL

In [42]:
spark.sql('''
        select hotel_continent, hotel_country, hotel_market, count(*) as count 
        from train 
        where srch_adults_cnt = 2 
        group by hotel_continent, hotel_country, hotel_market  
        order by count(*) desc 
        limit 3
        ''') \
        .show()

+---------------+-------------+------------+-------+
|hotel_continent|hotel_country|hotel_market|  count|
+---------------+-------------+------------+-------+
|              2|           50|         628|1190143|
|              2|           50|         675|1007502|
|              4|            8|         110| 588213|
+---------------+-------------+------------+-------+

#### Using DF transformations

In [84]:
top3_hotel = train_df.select('hotel_continent', 'hotel_country', 'hotel_market') \
            .filter(train_df.srch_adults_cnt == 2) \
            .groupBy('hotel_continent', 'hotel_country', 'hotel_market').count() \
            .orderBy('count', ascending = False) \
            .limit(3) 
top3_hotel.show()

+---------------+-------------+------------+-------+
|hotel_continent|hotel_country|hotel_market|  count|
+---------------+-------------+------------+-------+
|              2|           50|         628|1190143|
|              2|           50|         675|1007502|
|              4|            8|         110| 588213|
+---------------+-------------+------------+-------+

### Write to single file

In [91]:
top3_hotel.coalesce(1).write.csv('task2_1.csv', mode = 'overwrite')